select {
    margin-top: 15px;
    padding: 7px 8px;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background: #FFFFFF;
    width: 258px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
}
.selectHide {
    display: none;
}