.list {
    width: 282px;
    height: fit-content;
    background: #EBECF0;
    padding: 12px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 24px;
    margin-bottom: 50px;
    max-height: 550px;
    overflow: auto;
}

.list:last-child {
    margin-right: 0;
}

.listTitle {
    margin-top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.task {
    background: #fff;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 15px;
    padding: 7px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.task:hover {
    text-decoration: underline;
}

.taskLink {
    text-decoration: none;
}

.addButtonActive {
    width: 102px;
    height: 29px;
    background: none;
    border: 1px solid #EBECF0;
    appearance: none;
    padding: 4px;
    font-size: 18px;
    line-height: 21px;
    color: #5E6C84;
    margin-top: 15px;
    cursor: pointer;
}

.addButtonDisabled {
    pointer-events: none;
    width: 102px;
    height: 29px;
    background: none;
    border: 1px solid #EBECF0;
    appearance: none;
    padding: 4px;
    font-size: 18px;
    line-height: 21px;
    color: #b2c2dc;
    margin-top: 15px;
}

.addButtonActive:hover {
    width: 102px;
    height: 29px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 5px;
    padding: 4px;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    /* box-sizing: border-box; */
}