.mainBackground {
    background: #0079BF;
    margin: 0;
    flex-grow: 1;
}

.taskDescriptionWrapper {
    margin: 20px 25px;
    background: white;
    border-radius: 5px;
    padding: 20px 28px;
    min-height: 80vh;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.titleAndBtnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskTitle {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.taskDescription {
    min-width: 100%;
    height: inherit;
    overflow-y: auto;
    margin-top: 35px;
    border: none;
    outline: none;
    box-shadow: none;
    resize: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.closeButton {
    width: 33px;
    height: 33px;
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
}

.closeButton:before,
.closeButton:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: translate(-50%, -50%) rotate(45deg);
}

.closeButton:before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 650px) {
    .taskTitle {
        width: 200%;
        text-align: center;
    }

    .taskDescription {
        width: 200%;
    }

    .closeBtn {
        top: 0;
        right: inherit;
    }
}

@media (max-width: 350px) {
    .mainBackground {
        margin-top: -1px;
    }
}