.taskDescriptionWrapper {
    height: calc(100% - (60px * 2)); 
    width: calc(100% - (25px * 2));
    /* height: calc(100% - (22px * 2));
    width: calc(100% - (27px * 2)); */
    margin: 20px 25px;
    background: white;
    border-radius: 5px
}

.taskDescription {
    padding: 20px 0px 0px 28px;
    width: 50%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.taskTitle {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.taskText {
    min-width: 100%;
    height: inherit;
    overflow-y: auto;
    margin-top: 35px;
    border: none;
    outline: none;
    box-shadow: none;
    resize: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.close-btn {
    position: absolute;
    top: 5%;
    left: 190%;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #5E6C84;
    cursor: pointer;
}

@media (max-width: 650px) {
    .task-title {
        width: 200%;
        text-align: center;
    }

    .task-description {
        width: 200%;
    }

    .close-btn {
        top: 0;
        right: inherit;
    }
}